<?xml version="1.0" encoding="UTF-8"?>
<!--
	Beaconator scans for Bluetooth LE devices and recods the scans to a database.
	Based on the Open Source BluetoothLeGatt Android program 
	(see http://developer.android.com/samples/BluetoothLeGatt/index.html)
    Copyright (C) 2014  Jesse M. Blum

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->



<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.horizon.beaconator"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="18"
        android:targetSdkVersion="19"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:label="@string/app_name"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.Holo.Light">
        <activity android:name="uk.ac.horizon.beaconator.BtLeScan"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="uk.ac.horizon.beaconator.DeviceControlActivity"/>
        <service android:name="uk.ac.horizon.beaconator.BluetoothLeService" android:enabled="true"/>
    </application>

</manifest>
